:root {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --border: oklch(0.141 0.005 285.823);
  --input: oklch(0.141 0.005 285.823);
  --primary: oklch(0.6312 0.1166 134.9);
  --primary-hover: oklch(0.5172 0.0936 135);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.5885 0.100464 194.769);
  --secondary-foreground: oklch(1 0 0);
  --accent: oklch(0.7126 0.1132 134.45);
  --accent-foreground: oklch(1 0 0);
  --destructive: #f05d5d;
  --destructive-foreground: oklch(1 0 0);
  --ring: oklch(0.141 0.005 285.823);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --card: oklch(0.141 0.005 285.823);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.141 0.005 285.823);
  --popover-foreground: oklch(0.985 0 0);
  --border: oklch(33.289% 0.00004 271.152);
  --input: oklch(33.289% 0.00004 271.152);
  --primary: oklch(0.6312 0.1166 134.9);
  --primary-hover: oklch(0.5172 0.0936 135);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.5885 0.100464 194.769);
  --secondary-foreground: oklch(1 0 0);
  --accent: oklch(0.7126 0.1132 134.45);
  --accent-foreground: oklch(1 0 0);
  --destructive: #f05d5d;
  --destructive-foreground: oklch(1 0 0);
  --ring: oklch(0.141 0.005 285.823);
}
