:root {
  --radius: 0.5rem;
  --background: #fff;
  --foreground: #000;
  --muted: #cbe9d8;
  --muted-foreground: #1f7751;
  --card: #f9f5f2;
  --card-foreground: #000;
  --popover: #fff;
  --popover-foreground: #000;
  --border: #000;
  --input: #fff;
  --primary: #599d77;
  --primary-hover: #39654c;
  --primary-foreground: #fff;
  --secondary: #a3d9b1;
  --secondary-foreground: #000;
  --accent: #ffe75a;
  --accent-foreground: #000;
  --destructive: #f05d5d;
  --destructive-foreground: #fff;
  --ring: #000;
}

.dark {
  --background: #0f1210;
  --foreground: #f5f5f5;
  --muted: #1f3a2d;
  --muted-foreground: #9cd9b8;
  --card: #181c19;
  --card-foreground: #fff;
  --popover: #181c19;
  --popover-foreground: #fff;
  --border: #2a2e2b;
  --input: #2a2e2b;
  --primary: #599d77;
  --primary-hover: #39654c;
  --primary-foreground: #fff;
  --secondary: #3a6f52;
  --secondary-foreground: #fff;
  --accent: #ffe75a;
  --accent-foreground: #000;
  --destructive: #f05d5d;
  --destructive-foreground: #fff;
  --ring: #599d77;
}
