# fly.toml app configuration file generated for monorepo-template-api on 2025-11-10T11:20:58-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pz-packs'
primary_region = 'iad'

[build]
  dockerfile = './Dockerfile'

[[services]]
  protocol = 'tcp'
  internal_port = 3001

  [[services.ports]]
    port = 80
    handlers = ['http']

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [[services.tcp_checks]]
    interval = '15s'
    timeout = '2s'
    grace_period = '1s'

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
